<section style="background: #363d4d; color: white">
    <div class="container">
      <div class="row date_social1">
        <div class="col-md-6">
          <div class="date">
            <p>
              <i class="fa fa-calendar" aria-hidden="true"></i>{{ currentDate | date: "yyyy-MM-dd HH:mm a" }}
            </p>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3" [hidden]="!this.isLoggedIn">
          <a class="btn btn-danger" routerLink="login">Login</a> |
          <a class="btn btn-danger" routerLink="signup">Registration</a>
        </div>
        <div class="col-md-3" [hidden]="this.isLoggedIn">
          <a class="btn btn-danger" routerLink="/deshboard">Deshboard</a> |
          <a class="btn btn-danger" (click)="logout()">Sign out</a>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row logo_banner">
      <div class="col-md-4 logo">
        <div class="float-left logoTextArea">
          <h1 class="logotext">IsDB-BISEW</h1>
          <p class="tagline d-none d-sm-block">
            Islamic Development Bank<br />Bangladesh Islamic Solidarity
            Educational Wakf
          </p>
        </div>
      </div>
      <div class="col-md-8 bannar"></div>
    </div>
  </div>
  <section style="background: #363d4d; border-bottom: 3px solid #f00">
    <div class="container">
      <div class="col-md-12">
        <div class="row" id="nav">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/cat/Bangladesh">Bangladesh</a>
                <a class="nav-link" href="/cat/International">International</a>
                <a class="nav-link" href="/cat/Business">Business</a>
                <a class="nav-link" href="/cat/Lifestyle">Lifestyle</a>
                <a class="nav-link" href="/cat/Politics">Politics</a>
                <a class="nav-link" href="/cat/Economics">Economics</a>
                <a class="nav-link" href="/cat/Sports">Sports</a>
                <a class="nav-link" href="/cat/Entertainment">Entertainment</a>
                <a class="nav-link" href="/cat/Openion">Openion</a>
  
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
        <div class="col-sm-2"
          style="
            background-color: #f00;color: #ffffff;font-weight: bold;margin-bottom: 5px;margin-top: 5px;font-size: 16pt;">
          TopNews:
        </div>
        <div class="col-sm-10">
          <marquee>
            <p *ngFor="let item of postList;"
              style="font-family: Impact; font-size: 15pt; display: inline-block; padding-right: .5rem;">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i> <a style="color: black;" href="/read/{{item.id}}">{{ item.ptitle}}</a> </p>
          </marquee>
        </div>
      </div>
  </div>