
a {
    color: #ffffff;
    text-decoration: none;
    
}
.nav-link {
    display: block;
    padding: 0rem 0.5rem;
}
.overlay_lead {
    position: absolute;
    bottom: 0;
    /* background: #000; */
    background: rgba(0,0,0,.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    z-index: 2;
}