<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {{username}}
      <h2>{{ postData.ptitle }}</h2>
      <span
        ><i class="fa fa-user text-secondary"></i> {{ postData.username }}</span
      >
      <div>
        <i class="fa fa-clock-o"></i><span style="color: #dc4e41"></span>
        {{ postData.pdate }}
      </div>
      <div class="image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          <img
            src="{{ postData.fimage }}"
            alt="{{ postData.ptitle }}"
            width="100%"
            class="img-fluid rounded"
          />
        </div>
        <div
          class="IfTxty news-element-text text-justify my-2 pr-md-4 text-break"
          id="myText"
        >
          <p>{{ postData.pdesc }}</p>
        </div>
        <div class="" style="margin-top: 15px">
          <ul class="list-group mb-3">
            <li
              class="list-group-item d-flex justify-content-between lh-condensed"
            >
              <div>
                <h6 class="my-0">Category</h6>
              </div>
              <a
                class="text-muted"
                style="color: crimson !important"
                href="/cat/{{ postData.cname }}"
                >{{ postData.cname }}</a
              >
            </li>
          </ul>
          <button class="btn btn-warning" (click)="navigation('')">
            Go Back
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 6rem">
      <app-rightsidebar></app-rightsidebar>
    </div>
    <div class="row">
      <div
        class="col-sm-2"
        *ngFor="let item of postList.slice().reverse() | slice: 0:12"
      >
        <img
          alt="{{ item.ptitle }}"
          src="{{ item.fimage }}"
          width="165px"
          height="95px"
        />
        <h4 class="heading_03" style="font-size: 18px">
          <a href="/read/{{ item.id }}">{{ item.ptitle | slice: 0:15 }}...</a>
        </h4>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <!-- <div class="col-sm-8">
      <div class="product-detail">
        <h5 class="product-head">News Details</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row">News Title</th>
              <td>{{postData.ptitle}}</td>
            </tr>
            
            <tr>
              <th scope="row">News Description</th>
              <td style="white-space: pre-line;">{{postData.pdesc}}</td>
            </tr>
          
            <tr>
              <th scope="row">News Added on</th>
              <td>{{postData.date}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-sm-8">
      <form #CommentForm="ngForm" (ngSubmit)="saveComment()">
        <!-- <input value="{{username}}" type="text" class="form-control" name="username" id="username" /> -->

        <div class="form-group">
          {{postData.id}}
          {{ postData.username }}
          <!-- <input [(ngModel)]="comments.pid"  type="text" disabled name="pid" /> -->
          <input id="pid" type="text" class="form-control" 
        [(ngModel)]="comments.pid" name="pid" 
        required #username="ngModel" 
        placeholder="{{postData.id}}" 
        ngValue="postData.id" />
        </div>
        <div class="form-group">
          {{username}}
          <!-- <input [(ngModel)]="comments.username" (click)="proccessname" type="text" name="username"/> -->
          <input id="username" type="text" class="form-control" 
        [(ngModel)]="comments.username" name="username" 
        required #username="ngModel" 
        placeholder="{{ postData.username }}" 
        ngValue="postData.username" />
        </div>
        <div class="form-group">
          <label for="postarea">Comments</label>
          <textarea [(ngModel)]="comments.com" class="form-control" name="postarea" id="postarea"></textarea>
        </div>
        <!-- <div class="form-group">
          <label for="username">Must Select <span style="color: red;">*</span></label>
          <input [(ngModel)]="post.username" class="bg-info" style="display: block" type="radio" value="{{username}}"
            name="username" id="username" [checked]="true" /> Agree with Terms and condition.
        </div> -->

        <button class="btn btn-primary float-right" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
