<div class="container">
  <div class="row">
    <!--start: create user -->
    <div style="width: 100%" [hidden]="!isCreate">
      <div class="col-sm-6">

        <h1 class="h1 mb-3 mt-5"></h1>
        <form #userForm="ngForm" (ngSubmit)="saveUser()">
          <!-- <input [(ngModel)]="user.username" value="{{username}}" type="text" class="form-control" name="username" id="username" /> -->

          <div class="form-group">
            <label for="name">NAME</label>
            <input [(ngModel)]="user.name" type="text" class="form-control" name="name" id="name" />
          </div>
          <div class="form-group">
            <label for="username">USERNAME</label>
            <input [(ngModel)]="user.username" class="form-control" name="username" id="username" />
          </div>
          <div class="form-group" *ngIf="role==='admin'">
            <label for="role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="user.role">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="form-group">
            <label for="mobile">MOBILE</label>
            <input [(ngModel)]="user.mobile" type="text" class="form-control" name="mobile" id="mobile" />
          </div>
          <div class="form-group">
            <label for="email">EMAIL</label>
            <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email" />
          </div>

          <!-- <div class="form-group">
            <label for="image">Feature Image</label>
            <input [(ngModel)]="user.fimage" type="file" class="form-control" name="image" id="image" />
          </div> -->

          <button class="btn btn-primary float-right" type="submit">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <!--end: create user -->
  <!--start: update user -->
  <br/>
  <div class="row">

    <div class="col-sm-6">
      <div [hidden]="isCreate">
        <form #userForm="ngForm" (ngSubmit)="updateUser()">
          <div class="form-group">
            <label for="name">NAME</label>
            <input [(ngModel)]="user.name" type="text" class="form-control" name="name" id="name" />
          </div>
          <div class="form-group">
            <label for="username">USERNAME</label>
            <input [(ngModel)]="user.username" class="form-control" name="username" id="username" />
          </div>
          <div class="form-group" *ngIf="role==='admin'">
            <label for="role">Role</label>
            <select class="form-control" name="role" [(ngModel)]="user.role">
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <div class="form-group">
            <label for="mobile">MOBILE</label>
            <input [(ngModel)]="user.mobile" type="text" class="form-control" name="mobile" id="mobile" />
          </div>
          <div class="form-group">
            <label for="email">EMAIL</label>
            <input [(ngModel)]="user.email" type="text" class="form-control" name="email" id="email" />
          </div>
          <button class="btn btn-primary float-right" type="submit">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
  <!--end: update user -->
  <div class="row">
    <div class="col-md-12">
      <div class="responsive">
        <table class="table">
          <thead class="table table-dark">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>USERNAME</th>
              <th>PASSWORD</th>
              <th>EMAIL</th>
              <th>MOBILE</th>
              <th>ROLE</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of userList">
              <td>{{ u.id }}</td>
              <td>{{ u.name }}</td>
              <td>{{ u.username }}</td>
              <td>{{ u.password }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.mobile }}</td>
              <td>{{ u.role }}</td>
              <td>
                <a class="btn btn-warning" (click)="edit(u.id)">Edit</a> |
                <a class="btn btn-danger" (click)="delete(u.id)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
