<app-header></app-header>
<div class="container">
  
  <div class="row">
    <div class="col-sm-8">
      <div id="slide" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let item of postList.slice(0,1);">
            <img class="" src="../../assets/images/{{ item.fimage }}" width="750px" height="420px" alt="{{ item.ptitle }}" />
            <div class="overlay_lead">
              <h5><a (click)="getNavigation('read', item.id)">{{ item.ptitle | slice:0:39  }}....</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="leadnews"  *ngFor="let item of postList.slice(0,2)">
        <img class="img-fluid" src="../../assets/images/{{ item.fimage }}" width="400px" height="225px"/>
        <h4 class="heading_03"><a (click)="getNavigation('read', item.id)">{{ item.ptitle | slice:0:39  }}....</a></h4>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4 class="catagory_title1"><a class="nav-link" routerLink="/cat/Bangladesh"><i class="fa fa-newspaper-o"
            aria-hidden="true"></i> Bangladesh</a></h4>
      <div class="leadnews" *ngFor="let item of postList.slice(0,1)">
        <img class="img-fluid" src="../../assets/images/{{ item.fimage }}" width="400px" height="225px" />
        <h4 class="heading_03"><a (click)="getNavigation('read', item.id)">{{ item.ptitle | slice:0:39  }}....</a></h4>
      </div>
      <ng-container *ngFor="let item of postList.slice(1,5)">
        <div class="images_title" *ngIf="item.cname === 'Bangladesh'">
          <img class="img-fluid" src="../../assets/images/{{ item.fimage }}" />
          <h4 class="heading_03"><a (click)="getNavigation('read', item.id)">{{ item.ptitle | slice:0:39  }}....</a>
          </h4>
        </div>
      </ng-container>
    </div>
  </div>

</div>
